# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Node modules
node_modules/

# Build outputs
build/
dist/

# Coverage and test reports
coverage/
*.lcov
.nyc_output

# Environment variables
.env
.env.*

# VSCode and IDE
.vscode/

# Frontend build folder (if inside server folder)
client/client/build/
